.home-page {
    @extend %page;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/home.jpg);
    background-size: cover;

    h1 {
    	text-transform: uppercase;
    	text-align: center;
        padding: 32px 45px 40px 45px;
        border: 8px solid;
    }
}

.box-line-1 {
    font-family: GothamHTF-Black;
    font-size: 3.1rem;
    letter-spacing: 4px;
}

.box-line-2 {
    font-family: GothamHTF-Medium;
    font-size: 2.5rem;
    letter-spacing: 5.75px;
    padding-left: 4px;
}