.investments-page {
	@extend %page;
}

.investments-banner-image .col-12 {
	min-height: $investments-banner-xs-height;
	background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/investments.jpg);
	background-size: cover;

	@include media-breakpoint-up(md) {
		min-height: $investments-banner-md-height;
	}

	@include media-breakpoint-up(xl) {
		min-height: $investments-banner-xl-height;
	}

	@include media-breakpoint-up(xxl) {
		background-position: 0% 25%;
	}
}

.investments-content-row > .col-12 {
	display: flex;
	justify-content: center;
    flex-direction: column;

    @include media-breakpoint-up(md) {
    	min-height: $investments-content-md-height;
    }

    @include media-breakpoint-up(xl) {
    	min-height: $investments-content-xl-height;
    }
}

.byline-block {
	background-color: $byline-block-bg-color;
	padding: $byline-block-padding;
	
	.col-10 {
		display: flex;
		align-items: center;
		text-align: right;
	}

	h2 {
		font-size: $byline-block-font-size;
		color: $logo-color;
	}

	@include media-breakpoint-up(sm) {
		padding: $byline-block-sm-padding;
	}

	@include media-breakpoint-up(md) {
		padding: $byline-block-md-padding;

		h2 {
			font-size: $byline-block-md-font-size;
		}
	}
}

.questions-block {
	padding: $questions-block-padding;
}

.q-and-a:not(:last-of-type) {
	margin-bottom: $q-and-a-margin-bottom;
}

.question {
	text-transform: uppercase;
	display: flex;
	align-items: center;
	min-height: $question-chevron-width;
}

.i-chevron-bottom {
	min-width: $question-chevron-width;
	min-height: $question-chevron-width;
	width: $question-chevron-width;
	height: $question-chevron-width;
}

.question-text {
	margin-left: $question-margin-left;
}

.answer {
	margin-top: 0.25rem;
	margin-left: calc(#{$question-chevron-width} + #{$question-margin-left});
	color: $answer-color;
}


