.investments-page {
	@extend %page;
}


.investments-banner-image .col-12 {
	min-height: 40vh;
}

.investments-content-row .col-12 {
	min-height: 60vh;
	display: flex;
    justify-content: center;
    align-items: center;
}


