.navbar a {
	text-transform: uppercase;

	&:focus {
		color: $navbar-light-color !important;
	}
}

.navbar-brand {
	transition: opacity $transition-duration $transition-timing-function;
	opacity: 0;
	cursor: default;

	&.show-logo {
		opacity: 1;
		cursor: pointer;
	}
}

.nav-logo {
	@extend %logo;
	padding: $logo-padding-top/$logo-nav-scale-factor
	 $logo-padding-right/$logo-nav-scale-factor
	 $logo-padding-bottom/$logo-nav-scale-factor
	 $logo-padding-left/$logo-nav-scale-factor;
    border-width: $logo-border-width/$logo-nav-scale-factor;

    &:hover {
        color: $logo-hover-color;
    }
}

.nav-logo-1 {
	font-family: $logo-line-1-font;
    font-size: $logo-line-1-font-size/$logo-nav-scale-factor;
    letter-spacing: $logo-line-1-letter-spacing/$logo-nav-scale-factor;
}

.nav-logo-2 {
	font-family: $logo-line-2-font;
    font-size: $logo-line-2-font-size/$logo-nav-scale-factor;
    letter-spacing: $logo-line-2-letter-spacing/$logo-nav-scale-factor;
    padding-left: $logo-line-2-padding-left/$logo-nav-scale-factor;
}

.navbar-toggler {
	cursor: pointer;
	border: none;

	&:focus {
		outline: none;
	}
}

.navbar-collapse {
	justify-content: flex-end;
}

.close {
	position: absolute;
    top: .4rem;
    left: -40px;

    span {
    	font-size: 3rem;
  		font-weight: 400;
	    line-height: 1;
	    color: $navbar-light-color;
	    text-shadow: none;
	    cursor: pointer;
    }

    span:hover {
    	color: $navbar-light-hover-color;
    }

    &:focus, span:focus {
    	outline: none;
    }
}

.modal a {
	color: $navbar-light-color;

	&:hover {
		color: $navbar-light-hover-color;
	}
}

.modal .investments-nav-link {
	margin-top: 0.75rem;
}