.navbar a {
	text-transform: uppercase;
}

.navbar-toggler {
	cursor: pointer;
	border: none;

	&:focus {
		outline: none;
	}

	&:hover {
		color: rgba(209, 204, 204, 0.65);
	}
}

.navbar-collapse {
	justify-content: flex-end;
}