@font-face {
	font-family: "GothamHTF-Black";
	src: url("../fonts/GothamHTF-Black.otf") format('opentype');
}

@font-face {
 	font-family: "GothamHTF-Bold";
 	src: url("../fonts/GothamHTF-Bold.otf") format('opentype');
}

@font-face {
	font-family: "GothamHTF-Medium";
	src: url("../fonts/GothamHTF-Medium.otf") format('opentype');
}

@font-face {
	font-family: "GothamHTF-Book";
	src: url("../fonts/GothamHTF-Book.otf") format('opentype');
}

@font-face {
	font-family: "GothamHTF-Light";
	src: url("../fonts/GothamHTF-Light.otf") format('opentype');
}