$transition-timing-function: ease;
$transition-duration: 0.45s;

$logo-color: rgba(209, 204, 204, 0.85);
$logo-hover-color: rgba(233, 231, 231, 0.85);

$logo-padding-top: 32px;
$logo-padding-right: 45px;
$logo-padding-bottom: 40px;
$logo-padding-left: 45px;
$logo-border-width: 8px;

$logo-line-1-font: GothamHTF-Black;
$logo-line-1-font-size: 3.1rem;
$logo-line-1-letter-spacing: 4px;

$logo-line-2-font: GothamHTF-Medium;
$logo-line-2-font-size: 2.5rem;
$logo-line-2-letter-spacing: 5.75px;
$logo-line-2-padding-left: 4px;

$logo-nav-scale-factor: 4.5;
$logo-xs-scale-factor: 1.75;

$investments-banner-xs-height: 60vh;
$investments-banner-md-height: 40vh;
$investments-content-md-height: 100vh - $investments-banner-md-height;
$investments-banner-xl-height: 50vh;
$investments-content-xl-height: 100vh - $investments-banner-xl-height;

$byline-block-bg-color: #61666a;
$byline-block-padding: 6rem 0rem;
$byline-block-sm-padding: 8rem 0rem;
$byline-block-md-padding: 1rem 0rem;
$byline-block-font-size: 2.5rem;
$byline-block-md-font-size: 2.25rem;

$questions-block-padding: 4rem 0rem;

$q-and-a-margin-bottom: 2rem;

$question-margin-left: 2.25rem;
$question-chevron-width: 25px;

$answer-color: darken(#afafaf, 10%);