$transition-timing-function: ease;
$transition-duration: 0.45s;

$logo-color: rgba(209, 204, 204, 0.85);
$logo-hover-color: rgba(233, 231, 231, 0.85);

$logo-padding-top: 32px;
$logo-padding-right: 45px;
$logo-padding-bottom: 40px;
$logo-padding-left: 45px;
$logo-border-width: 8px;

$logo-line-1-font: GothamHTF-Black;
$logo-line-1-font-size: 3.1rem;
$logo-line-1-letter-spacing: 4px;

$logo-line-2-font: GothamHTF-Medium;
$logo-line-2-font-size: 2.5rem;
$logo-line-2-letter-spacing: 5.75px;
$logo-line-2-padding-left: 4px;

$logo-nav-scale-factor: 4.5;
$logo-xs-scale-factor: 1.75;

$investments-banner-height: 40vh;
$investments-content-height: 100vh - $investments-banner-height;

$byline-bg-color: #61666a;

$question-margin-left: 2.25rem;
$question-chevron-width: 25px;

$answer-color: darken(#afafaf, 10%);