$transition-timing-function: ease;
$transition-duration: 0.25s;

$logo-padding-top: 32px;
$logo-padding-right: 45px;
$logo-padding-bottom: 40px;
$logo-padding-left: 45px;
$logo-border-width: 8px;

$logo-line-1-font: GothamHTF-Black;
$logo-line-1-font-size: 3.1rem;
$logo-line-1-letter-spacing: 4px;

$logo-line-2-font: GothamHTF-Medium;
$logo-line-2-font-size: 2.5rem;
$logo-line-2-letter-spacing: 5.75px;
$logo-line-2-padding-left: 4px;

$logo-scale-factor: 4.5;
